.portfolio{
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    min-width: fit-content;
}

.portfolio .hidenav{
    display: flex;
    justify-content: right;
    position: absolute;
    width: 150px;
    height: 25px;
    background-color: rgba(0,0,0,0.7);
    color: gold;
    bottom: 0;
    left: 25%;
}

.portfolio .hidenav button{
    position: relative;
    right: 0;
    
}

.portfolio .hidenav p{
    position: relative;
    right: 0;
    animation: move-left 1s infinite ease-in-out !important;
}

.portfolio .dispnav{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 150px;
    height: 25px;
    background-color: rgba(0,0,0,0.7);
    color: gold;
    bottom: 0;
    transition: all 0.5s;
}

.portfolio .dispnav button{
    position: relative;
    right: 0;
    
}

.portfolio .dispnav p{
    position: relative;
    right: 0;
    animation: move-right 1s infinite ease-in-out !important;
}

.nav{
    text-align: center;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(15, 122, 145, 0.9)
}

.nav .social .face .popuptext{
    position:fixed;
    visibility: hidden;
}

.nav .social .face:hover .popuptext{
    visibility: visible;
    background-color: black;
    color: white;
}

.nav .social .linked .popuptext{
    position:fixed;
    visibility: hidden;
}

.nav .social .linked:hover .popuptext{
    visibility: visible;
    background-color: black;
    color: white;
}

.nav .social .git .popuptext{
    position:fixed;
    visibility: hidden;
}

.nav .social .git:hover .popuptext{
    visibility: visible;
    background-color: black;
    color: white;
}

.nav .social .twit .popuptext{
    position:fixed;
    visibility: hidden;
}

.nav .social .twit:hover .popuptext{
    visibility: visible;
    background-color: black;
    color: white;
}

.nav .social img{
    width:40px;
    height:40px;
}

.me{
    width: 100%;
    height: 100%;
}

.nav button {
    border: none;
    font-size: 20px;
    background-color: rgba(15, 122, 145, 0);
    color: rgba(220, 220, 220, 1);
    
}

.nav button:hover{
    
    color: black;
}

.nav h3{
    font-size: 30px;
    color:rgba(80, 10, 0, 1);

}

.nav h4{
    font-size: 20px;
    color:rgba(80, 10, 0, 1);
    
}


.navmob{
    display: none !important;
}


.home button{
    background-color: rgba(0,0,0,0) !important;
    font-size: 20px !important;
}

.home button:hover{
    background-color: #282c34 !important;
}

.header{
    display:flex;
    justify-content: flex-start;
    white-space: pre;
    text-decoration: underline;
    color: white;
   
}

.projects{
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    height: fit-content !important;
}

.card{
    position: relative;
    background-color: #282c34 !important;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 1)!important;
    height: 49vh !important;
    margin-top: 1vh;
    text-align: center;
    transform: rotateY(180deg);
    transition: all 0.5s;
}

.cardflip{
    position: relative;
    background-color: #282c34 !important;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 1)!important;
    height: 49vh !important;
    margin-top: 1vh;
    text-align: center;
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.card:hover{
    top:10px;
    left: 10px;
}

.card button,
.cardflip button{
    background-color: black;
    color: aliceblue;
}

.card .card-front,
.cardflip .card-front {
    color: pink;
    position: absolute;
    display: grid;
    grid-template-rows: 15% 55% 30%;
    align-items: center !important;
    height: 49vh;
    transform: rotateY(-180deg);
}

.card .card-back,
.cardflip .card-back{
    width: 100% !important;
    justify-content: center;
    color: pink;
    display: grid;
    grid-template-rows: 60% 15% 25%;
    position: absolute;
    align-items: start;
    height: 49vh;
}

.projects .skills{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,121,9,1) 35%, rgba(0,212,255,1) 100%);
    color: white !important;
}

.projects .skills p{
    position: relative;
    top:5px;
}

.card .card-front .outer-flip,
.cardflip .card-back .outer-flip{
    background-color: aqua;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
    width: 50px !important;
    height: 50px !important;
}

.card .card-front .inner-flip,
.cardflip .card-back .inner-flip{
    position: relative;
    top: 3px;
    left: 2px;
    border-radius: 100%;
    width: 45px !important;
    height: 45px;
    animation: pulse 1s infinite ease-in-out;
}

.card .card-front .flip,
.cardflip .card-back .flip{
    border-radius: 100%;
    background-color: aliceblue;
    width: 45px;
    height: 45px;
    font-size: 11px;
    color: black;
}

.card .title{
    align-self: start;
}

.about{
    /*background-color: #282c34;*/
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 46%, rgba(0,151,255,1) 100%);
    color:rgba(0, 50, 0, 1);
    display: grid !important;
    grid-template-rows: 60% 18% 22%;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}

.about .intro{
    height: 100%;
    display: grid !important;
    grid-template-rows: 10% 90%;
    width: 100% !important;
    align-self: start !important;
    color:rgba(200, 182, 250, 1)
}

.about .intro .intro-par{
    display: flex;
    align-items: center;
    color:rgba(200, 182, 250, 1) !important;
}

.about .intro .intro-par img{
    width: 40%;
    height: 100% !important;
}

.about .known{
    display: grid;
    grid-template-rows: 1% 20% 79%;
}

.about .known h6{
    color:rgba(250, 250, 250, 1) !important;
}

.about .known .skills{
    width: 100% !important;
    height: 100% !important;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    justify-content: center;
    gap: 8%;
    align-items: center;
}

.about .known img{
    width: 60px;
    height: 60px !important;
}

.contact{
    /*background-color: #282c34;*/
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color:rgba(220, 220, 220, 1);
    min-height: 100vh;
    height: fit-content !important;
}

.contact .contacts{
    align-self: center !important;
    background-color: #282c34;
}

.contact .contacts h6{
    font-size: 18px;
}

.contact .form{
    display: grid;
    width: 50%;
}

.contact .submit:hover{
    background-color: #282c34 !important;
    color: white !important;
}

@media only screen and (max-height: 600px) {
    
    .nav .social img{
        width: 25px;
        height: 25px;
    }

    .nav .me{
        width: 100%;
        height: 100%;
    }

    .nav h3{
        font-size: 20px;
    }

    .nav h4{
       font-size: 14px;
    }

    .nav button {
        font-size: 15px;
    }

    .projects{
        height: fit-content !important;
        
    }

    .projects .card{
        height: 100vh;
    }

    .card-back{
        height: 100vh;
    }
}


@media only screen and (max-height: 470px) {
    .nav .social{
        display: none !important;
    }

    .nav .onsocial{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .portfolio {
        background-position: right;
    }

    .about{
        min-height: 100vh !important;
    }

    .about .intro{
        display: grid !important;
        justify-content: center;
    }

    .about .intro .intro-par{
        display: grid !important;
    }

    .about .intro img{
        width: 250px !important;
        justify-self: center;
    }

    .about .known .skills img{
        width: 50px !important;
        height: 50px !important;
    }

    .projects .cardflip .card-back{
        font-size: 12px !important;
    }

    .contact .form{
        width: 80% !important
    }
}

@media only screen and (max-width: 576px) { 
    
    .portfolio{
        min-width: fit-content;
        background-position:center;
    }

    .portfolio .hidenav,
    .portfolio .dispnav{
        display: none !important
    }

    .bignav{
        display: none !important;
    }

    .navmob{
        width: 100% !important;
        display: grid !important;
        position: sticky !important;
        top: 0 !important;   
    }

    .navmob .name{
        font-family: 'Times New Roman', Times, serif;
        color: gold;
        font-size: 20px;
        align-self: center;
    }

    .navmob img{
        width: 30px;
        height: 30px;
    }

    .navmob .mobsocial{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,121,9,1) 35%, rgba(0,212,255,1) 100%);
        align-items: center;
    }
    
    .navmob .mobsocial .onsocial{
        background-color: rgba(15, 122, 145, 0);
        border: none;
    }

    .navmob .allmore{
        display: grid !important;
        grid-template-columns: 50% 50%;
    }

    .navmob .allmore img{
        width: 150px !important;
        height: 150px;
        justify-self: center;
        align-self: start;
        border-radius: 100%;
        animation: anime 1s 1 ease-in-out;
    }

    .navmob .onmore{
        height: 63vh !important;
        display: grid;
        grid-template-rows: repeat(5, 15%);
        gap: 5%;
        justify-content: center;
    }
    

    .navmob .onmore button{
        border-left: none;
        border-right: none;
        border-top: none;
        background-color: rgba(15, 122, 145, 0);
        color: gold;
        font-size: 18px;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: 
           typing 1s steps(10, end),
           blink-caret .5s step-end 3;
    }

    .navmob .onmore button:hover{
        background-color: gold;
        color: orangered;
    }
    
    .navmob .quotes{
        height: 30vh !important;
        align-self: end !important;
        animation: anime 1s 1 ease-in;
    }

    .navmob .quotes h3{
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: white !important
    }

    .navmob .quotes h4{
        font-family: 'Monaco';
        font-size: 100%;
        color: red !important
    }

    .about{
        min-height: 100vh;
    }

    .about .intro{
        display: grid !important;
        justify-content: center;
    }

    .about .intro .intro-par{
        display: grid !important;
        font-size: 12px;
    }

    .about p{
        font-size: 12px;
    }

    .about .intro img{
        width: 50% !important;
        height: 100% !important;
        justify-self: center;
    }

    .about .known .skills img{
        width: 35px !important;
        height: 35px !important;
    }
    
}


@media only screen and (max-width: 620px) {
    .header{
        font-size: 24px;
    }
    
}

@media only screen and (max-width: 445px) {
    .header{
        font-size: 20px;
    }   
}

@media only screen and (max-width: 360px) {
    .header{
        font-size: 17px;
    }   
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

 @keyframes anime{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
 }

 @keyframes unanime{
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
 }

 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @keyframes orbit { 
    from {transform: rotate(0)}
    to {transform: rotate(270deg)} 
    }

  @keyframes move-left {
    from{
        right: 0
    }
    to {
        right: 50px
    }
  }

  @keyframes move-right {
    from {
        left: 0
    }
    to {
        left: 40px
    }
  }

  @keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}